.videoContainer{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.video-content{
    font-size: 20px;
    padding-left: 20px;
    overflow: hidden;
}

.thumbnails{
    flex-basis: 40%;
    width: 25%;
    height: 40%;
    float: left;
}

.video-desc{
  color : #7f7f7f;
}

.creator{
    margin-left: 50%;
    font-size: 120%;
}