.thumbnails{
    display: flex;
    flex: 1;
    padding: 8px 16px;
    width: 20%;
    height: 20%;
    position: relative;
}
.video-content{
    display: flex;
    flex: 1;
    padding: 5px 20px;
}

.video{
    justify-content: space-between;
}