.videoplayer{
    display: flex;
    flex: 1;
    justify-content: center;
}

.video-title{
    display: flex;
    flex: 1;
    padding: 10px 20px;
    font-size: 150%;
}

.video-desc{
    display: flex;
    flex: 1;
    padding: 10px 25px;
    font-size: 90%;
    color: #7f7f7f;
}