.videoplayer{
    display: flex;
    flex: 2;
    justify-content: center;
}

.video-title{
    display: flex;
    flex: 1;
    padding: 10px 20px;
    font-size: 150%;
}

.video-desc{
    display: flex;
    flex: 1;
    padding: 10px 25px;
    font-size: 90%;
    color: #7f7f7f;
}



.value{
    padding:20px 20px;
}


.investButtons button{
    padding: 10px 10px;
    border: none;
    border-bottom: 1px solid #fff;
    margin:1%;
    color:#fff;
    background-color:#682ae9;
    border-radius: 12px;
}